<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Insert title here</title>
<script src= "js/angular.min.js"></script>
<script src="js/leaderboard.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body data-ng-app="inLeaderBoard" data-ng-controller="LeaderBoardController">
	<div class="container">
		<div class="row">
			<nav role="navigation" class="navbar navbar-default">
			    <div class="navbar-header">
			        <a href="#" class="navbar-brand">Hello {{NickName}}</a>
			    </div>
			    <div id="navbarCollapse" class="collapse navbar-collapse">
			        <ul class="nav navbar-nav">
			            <li><a href="MainPage.html">Home</a></li>
			            <li><a href="#">Browse Questions</a></li>
			            <li class="active"><a href="leaderboard.html">Leader Board</a></li>
			            <li><a href="AllQuestions.html">All Questions</a></li>
			        </ul>
			        <ul class="nav navbar-nav navbar-right">
			            <li><a href="" data-ng-click="logOut()">Logout</a></li>
			        </ul>
			    </div>
			</nav>
		</div>
	</div>
	<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
	<table class="table">  
  		<thead >  
          <tr>  
            <th bgcolor="#4dffb8">pic</th>  
            <th bgcolor="#4dffb8">Nickname</th>   
            <th bgcolor="#4dffb8">rating</th>  
            <th bgcolor="#4dffb8">expertise</th>
 
          </tr>  
        </thead> 
        <tbody> 
       
          <tr data-ng-repeat="x in GetUsersResult" > 
         
           <th scope = "row"> <img src={{x.user.photoUrl}} alt="..." class="img-rounded"></th>
            <td data-ng-click="goTouserprofile(x)" >{{x.user.nickName}}</td>    
            <td>{{x.user.userRating}}</td>
            <td>
            	<div data-ng-repeat="t in x.user.experties" >
            		<label class="label label-default">{{t}}</label>
            	</div>
            </td>
            
          </tr> 
          
        </tbody>  
      </table> 
	</div>
	</div>
	<div class="col-sm-2"></div>
</body>
