<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Insert title here</title>
<script src= "js/angular.min.js"></script>
<script src="js/MainPage.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body data-ng-app="inTableApp" data-ng-controller="mainPageController">
	<div style="width: 50%">
		<form role="form">
			<div class="form-group">
		  		<label>Insert your question here:</label>
		  		<textarea class="form-control" placeholder="Whats bothering you?" type="text" data-ng-model="questionTxt" ></textarea> 		  																						 		
		  	</div>	
		  	<div class="form-group">
		  		<label>Tag Tag's</label>
		  		<input class="form-control" type="text" data-ng-model="topics">
		  	</div>
		  	<div class="form-group">
		  		<br><input class="btn btn-primary " style="width:50%" data-ng-click="addQuestion()" value="Question">
		  	</div>
		</form>
	</div>
</body>
</html>