<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Insert title here</title>
<script src= "js/angular.min.js"></script>
<script src="js/MainPage.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body data-ng-app="inTableApp" data-ng-controller="mainPageController">
	<div class="container">
		<div>
			<nav role="navigation" class="navbar navbar-default">
			    <div class="navbar-header">
			        <a href="#" class="navbar-brand">Hello {{NickName}}</a>
			    </div>
			    <div id="navbarCollapse" class="collapse navbar-collapse">
			        <ul class="nav navbar-nav">
			            <li class="active"><a href="#">Home</a></li>
			            <li><a href="QuestionsByTopic.html">Browse Questions</a></li>
			            <li><a href="#">Leader Board</a></li>
			        </ul>
			        <ul class="nav navbar-nav navbar-right">
			            <li><a href="" data-ng-click="logOut()">Logout</a></li>
			        </ul>
			    </div>
			</nav>
		</div>
		<!--  Questions -->
		<div style="margin:auto; width: 50%;">
			<form role="form">
				<div class="form-group">
					<div class="row">
				  		<label>Insert your question here:</label>
				  		<textarea class="form-control" placeholder="Whats bothering you?" data-ng-model="questionTxt" ></textarea> 		  																						 		
				  	</div>
			  	</div>	
			  	<div class="form-group"  >
			  		<div class="row">
			  			<label>Tag Tag's</label>
			  			<input class="form-control" type="text" data-ng-change="myFunc()" data-ng-model="topics">
				  		<div data-ng-show="HideShowTagCharacterError">
  							<label class="label label-danger" >More than 50 Characters</label>
						</div>
			  		</div>
					<div >
				  		<div data-ng-repeat="t in tag" style="display:inline;">
				  			<label class="label label-default">{{t}}</label>
				  		</div>
			  		</div>
			  	</div>
			  	<div class="form-group">
			  		<button class="btn btn-primary " data-ng-click="addQuestion()">Question</button>
			  	</div>
			</form>
		</div>
		<br>
		<div class="navbar navbar-default" >
			<br><br>
			<div style="margin:auto;width:80%" data-ng-repeat="x in GetQuestionsResult" >
				<div class="panel panel-default">
					<div class="row">
						<div class="col-sm-12">				
							<h4> Question by {{x.nickName}}</h4>
						</div>
					</div>
					<div class="row">	
							<div class="col-sm-1">
								<div class="btn-group-vertical"  role="group" aria-label="..." style="margin-left:15%;">
									<button type="button" class="btn btn-default" aria-label="Right Align" data-ng-click="voteUp(x)">
									<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> {{up}}</span></button>
									<button type="button" class="btn btn-default" aria-label="Right Align" >{{x.questionVote}}</button>
									<button type="button" class="btn btn-default" aria-label="Right Align" data-ng-click="voteDown(x)">
									<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> {{down}}</span></button>
								</div>
							</div>
							<div class="col-sm-11">
								<div class="row">
									<div class="col-sm-9">
										<label>{{x.questionTxt}}</label>
									</div>
								</div>
								<div class="row-fluid">
									<div class="col-xs-8 form-inline">       
						                <textarea class="form-control" style="width:80%" placeholder="So what is your answer Smartass" data-ng-model="x.answerTxt"></textarea>
						                <button type="submit" class="btn" data-ng-click="addAnswer(x)">Send</button>            
								    </div>
								    <div class="col-xs-4">
								    	<label>Topics:</label>
								    	<div data-ng-repeat="t in x.questionTopics" style="display:inline;">
								    		<label class="label label-default">{{t}}</label>
								    	</div>
								    </div>
								</div>
							</div>
					</div> <!--  end of  second row(question +answer text )-->
					<br>
				</div>
			</div>
			<br>
		</div>
		<div>
			<nav>
	  			<ul class="pager">
	   			 <li ><button  data-ng-disabled="PreviousButtonFlag" data-ng-click="previousClick()" class = "btn btn-info"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button></li>
	   			 <li ><button data-ng-disabled="NextButtonFlag" data-ng-click="nextClick()" class = "btn btn-info"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button></li>	
	  			<li>Page {{prevOrNextPageNumCounter+1}} of {{NumOfPages+1}}</li>
	  			</ul>
			</nav>
		</div>
	</div>
</body>
</html>