<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Insert title here</title>
<script src= "js/angular.min.js"></script>
<script src="js/MainPage.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body data-ng-app="inTableApp" data-ng-controller="mainPageController">
	<div class="container">
		<div>
			<nav role="navigation" class="navbar navbar-default">
			    <div class="navbar-header">
			        <a href="#" class="navbar-brand">Hello {{NickName}}</a>
			    </div>
			    <div id="navbarCollapse" class="collapse navbar-collapse">
			        <ul class="nav navbar-nav">
			            <li class="active"><a href="#">Home</a></li>
			            <li><a href="#">Browse Questions</a></li>
			            <li><a href="#">Leader Board</a></li>
			        </ul>
			        <ul class="nav navbar-nav navbar-right">
			            <li><a href="" data-ng-click="logOut()">Logout</a></li>
			        </ul>
			    </div>
			</nav>
		</div>
		<div style="margin:auto; width: 50%;">
			<form role="form">
				<div class="form-group">
			  		<label>Insert your question here:</label>
			  		<textarea class="form-control" placeholder="Whats bothering you?" data-ng-model="questionTxt" ></textarea> 		  																						 		
			  	</div>	
			  	<div class="form-group"  >
			  		<label>Tag Tag's</label>
			  		<input class="form-control" type="text" data-ng-change="myFunc()" data-ng-model="topics">
			  		
			  		<div class="alert alert-danger" role="alert" data-ng-show="HideShowTagCharacterError">
  						<a href="#" class="alert-link" >More than 50 Characters</a>
					</div>
					<div class="navbar" style="">
				  		<div data-ng-repeat="t in tag" style="float:left">
				  			<label class="label label-default">{{t}}</label>
				  		</div>
			  		</div>
			  	</div>
			  	<div class="form-group" style="margin: auto;">
			  		<button class="btn btn-primary " data-ng-click="addQuestion()">Question</button>
			  	</div>
			</form>
		</div>
		<br>
		<div class="navbar navbar-default" >
			<br><br>
			<div style="margin: auto;width:70%;">
				<div  data-ng-repeat="x in GetQuestionsResult" class="panel panel-default">
					<h4> Question by {{x.nickName}}</h4>
					<table>
						<tr>
							<td style="width:15%">
								<div class="btn-group-vertical"  role="group" aria-label="..." style="margin-left:15%;">
									<button type="button" class="btn btn-default" aria-label="Right Align" data-ng-click="voteUp(x)">
									<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> {{up}}</span></button>
									<button type="button" class="btn btn-default" aria-label="Right Align" >{{x.questionVote}}</button>
									<button type="button" class="btn btn-default" aria-label="Right Align" data-ng-click="voteDown(x)">
									<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> {{down}}</span></button>
								</div>
							</td>
							<td>&nbsp</td>
							<td style="width:85%">
								<div>
									<label>{{x.questionTxt}}</label>
								</div>
								<br>					<!-- Write an answer  -->
								<div >
								    <div>
								        <form class="form-inline" >           
								                <textarea class="form-control" style="width:60%;resize:vertical" placeholder="So what is your answer Smartass"></textarea>
								                <button type="submit" class="btn">Send</button>            
								        </form>
								    </div>
								</div>
							</td>
						</tr>
						
					</table>
					<br>
					
				</div>
			
			</div>
		</div>
		<div>
			<nav>
	  			<ul class="pager">
	   			 <li ><button  data-ng-disabled="PreviousButtonFlag" data-ng-click="previousClick()" class = "btn btn-info"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button></li>
	   			 <li ><button data-ng-disabled="NextButtonFlag" data-ng-click="nextClick()" class = "btn btn-info"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button></li>	
	  			<li>Page {{prevOrNextPageNumCounter+1}} of {{NumOfPages+1}}</li>
	  			</ul>
			</nav>
		</div>
	</div>
</body>
</html>