<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Insert title here</title>
<script src= "js/angular.min.js"></script>
<script src="js/AllQuestions.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body data-ng-app="MainApp" data-ng-controller="AllQuestionsController">
	<div class="container">
		<div class="row">
			<nav role="navigation" class="navbar navbar-default">
			    <div class="navbar-header">
			        <a href="#" class="navbar-brand">Hello {{NickName}}</a>
			    </div>
			    <div id="navbarCollapse" class="collapse navbar-collapse">
			        <ul class="nav navbar-nav">
			            <li><a href="MainPage.html">Home</a></li>
			            <li class="active"><a href="QuestionsByTopic.html">Browse Questions</a></li>
			            <li><a href="leaderboard.html">Leader Board</a></li>
			            <li><a href="AllQuestions.html">All Questions</a></li>
			        </ul>
			        <ul class="nav navbar-nav navbar-right">
			            <li><a href="" data-ng-click="logOut()">Logout</a></li>
			        </ul>
			    </div>
			</nav>
		</div>
		
		
		<div data-ng-show="showHideTopicList">
	
			<div class="row">
				<div class="col-xs-5">
					<label>Please enter topic name or click on a topic from the list below :</label>
				</div>
				<div class="col-xs-7 input-group">
					<form>
		      			<input type="text" class="form-control" style="width:40%" placeholder="Search for..." data-ng-model="topic">
			      		<button class="btn btn-default" type="button" data-ng-click="GetAllQuestions">Search</button>
				  	</form>
			  	</div><!-- /.col-lg-7 -->
			</div><!-- /.row -->
			<br>
			<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				
					<div class="row navbar navbar-default" >
					<div style="margin:auto;width:60%" data-ng-repeat="topic in GetTopicsResult">
					<div style="text-align: center;">
						<h4><label style="margin:auto;" class="label label-default" data-ng-click= "setTopic(topic)" >{{topic}}</label></h4>
					</div>
					</div>
					</div>
			</div>
				<div class="col-xs-2"></div>
			</div>
			
		<div class="row">
			<nav>
	  			<ul class="pager">
	   			 <li ><button  data-ng-disabled="PreviousTopicButtonFlag" data-ng-click="previousTopicClick()" class = "btn btn-info"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button></li>
	   			 <li ><button data-ng-disabled="NextTopicButtonFlag" data-ng-click="nextTopicClick()" class = "btn btn-info"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button></li>	
	  			<li>Page {{prevOrNextPageNumCounter+1}} of {{NumOfPages+1}}</li>
	  			</ul>
			</nav>
		</div>
			
		
		</div>
		</div>
		
		<div data-ng-show="!showHideTopicList">
			<questions></questions>
		</div>
	
		<!-- <div >
		<div class="panel panel-default">
			<p> dfgfh </p>
		</div>
		<div>
			<button type="button" class="btn btn-default " style="width:30%" data-ng-click="switchAnswerShowFlag()" value="showAnswer">showAnswer</button>
			<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default" aria-label="Right Align" >
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> {{up}}</span></button>
			<button type="button" class="btn btn-default" aria-label="Right Align" >
			<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> {{down}}</span></button>
			</div>
		
    	
		</div>
		
		<div class="panel panel-default" data-ng-show="AnswerShowFlag">
			<p> dfgfh </p>
			<div class="btn-group" role="group" aria-label="..." style="float:right">
				<button type="button" class="btn btn-default" aria-label="Right Align" >
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> {{up}}</span></button>
				<button type="button" class="btn btn-default" aria-label="Right Align" >
				<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> {{down}}</span></button>
			</div>
		</div>
		
		</div>
		</div> 

	 -->
</body>
</html>