<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Insert title here</title>
<script src= "js/angular.min.js"></script>
<script src="js/AllQuestions.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/question.css">
</head>
<body data-ng-app="MainApp" data-ng-controller="AllQuestionsController">
	<div class="container" style="word-wrap: break-word;">
		<div class="row">
			<nav role="navigation" class="navbar navbar-default">
			    <div class="navbar-header">
			        <a href="#" class="navbar-brand">Hello {{NickName}}</a>
			    </div>
			    <div id="navbarCollapse" class="collapse navbar-collapse">
			        <ul class="nav navbar-nav">
			            <li><a href="MainPage.html">Home</a></li>
			            <li><a href="AllQuestions.html">All Questions</a></li>
			            <li class="active"><a href="QuestionsByTopic.html">Browse Questions by topic</a></li>
			            <li><a href="leaderboard.html">Leader Board</a></li>
			        </ul>
			        <ul class="nav navbar-nav navbar-right">
			            <li><a href="" data-ng-click="logOut()">Logout</a></li>
			        </ul>
			    </div>
			</nav>
		</div>
			<div data-ng-show="showHideTopicList">
	
			<div class="row">
				<div class="col-xs-5">
					<label>Please enter topic name or click on a topic from the list below :</label>
				</div>
				<div class="col-xs-7 input-group">
					<form>
		      			<input type="text" class="form-control" style="width:40%" placeholder="Search for..." data-ng-model="topic">
			      		<button class="btn btn-default" type="button" data-ng-click="GetAllQuestions">Search</button>
				  	</form>
			  	</div><!-- /.col-lg-7 -->
			</div><!-- /.row -->
			<br>
			<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				
					<div class="row navbar navbar-default" >
					<div style="margin:auto;width:60%" data-ng-repeat="topic in GetTopicsResult">
					<div style="text-align: center;">
						<h4><a style="cursor:pointer;" data-ng-click="setTopic(topic)"><label  role="button" class="label label-default"  >{{topic}}</label></a></h4>
					</div>
					</div>
					</div>
			</div>
				<div class="col-xs-2"></div>
			</div>
			
		<div class="row">
			<nav>
	  			<ul class="pager">
	   			 <li ><button  data-ng-disabled="PreviousTopicButtonFlag" data-ng-click="previousTopicClick()" class = "btn btn-info"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button></li>
	   			 <li ><button data-ng-disabled="NextTopicButtonFlag" data-ng-click="nextTopicClick()" class = "btn btn-info"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button></li>	
	  			<li>Page {{prevOrNextTopicPageNumCounter+1}} of {{NumOfTopicPages+1}}</li>
	  			</ul>
			</nav>
		</div>
			
		
		</div>
		
		
		<div data-ng-show="!showHideTopicList">
				<div class="row">
		 			<div class="col-xs-7">
		 			<ul>
		 			<li class="list-group-item list-group-item-info">you are now looking at questions about <label class="label label-default">{{topic}} </label></li></ul>
		 			</div>
		 			<div class="col-xs-5"><div style="margin:left"><button  type="submit" class="btn btn-warning" data-ng-click="showList()">Search for another Topics</button></div></div>
				</div>
		<br>
			<questions></questions>
		</div>
		</div>
		
		
</body>
</html>