<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Insert title here</title>
<script src= "js/angular.min.js"></script>
<script src="js/QuestionsByTopic.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body data-ng-app="inTopicQuestion" data-ng-controller="TopicQuestionController">
	<div class="container">
		<div class="row">
			<nav role="navigation" class="navbar navbar-default">
			    <div class="navbar-header">
			        <a href="#" class="navbar-brand">Hello {{NickName}}</a>
			    </div>
			    <div id="navbarCollapse" class="collapse navbar-collapse">
			        <ul class="nav navbar-nav">
			            <li><a href="MainPage.html">Home</a></li>
			            <li class="active"><a href="QuestionsByTopic.html">Browse Questions</a></li>
			            <li><a href="leaderboard.html">Leader Board</a></li>
			            <li><a href="AllQuestions.html">All Questions</a></li>
			        </ul>
			        <ul class="nav navbar-nav navbar-right">
			            <li><a href="" data-ng-click="logOut()">Logout</a></li>
			        </ul>
			    </div>
			</nav>
		</div>
		
		<div class="row">
		<div data-ng-show="showHideTopicList">
			<div class="row">
				<div class="col-xs-5">
					<label>Please enter topic name or click on a topic from the list below :</label>
				</div>
				<div class="col-xs-7 input-group">
					<form>
		      			<input type="text" class="form-control" style="width:40%" placeholder="Search for..." data-ng-model="topic">
			      		<button class="btn btn-default" type="button" data-ng-click="GetQuestionsByTopic()">Search</button>
				  	</form>
			  	</div><!-- /.col-lg-7 -->
			</div><!-- /.row -->
			<br>
			<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				
					
					<div style="margin:auto;width:80%" data-ng-repeat="topic in GetTopicsResult">
					<center>
						<label style="margin:auto;" class="label label-default" data-ng-click="GetQuestionsByTopic(topic)" >{{topic}}</label>
					</center>
					</div>
				</div>
				
			</div>
			<div class="col-xs-2"></div>
			
			</div>
		</div>
		<div data-ng-show="!showHideTopicList">
		<div class="row">
		 <div class="col-xs-7"><li class="list-group-item list-group-item-info">you are now looking at questions about <label class="label label-default">{{currenTopic}} </label></li></div>
		 <div class="col-xs-5"><div style="margin:left"><button  type="submit" class="btn btn-warning" data-ng-click="showList()">Search for another Topics</button></div></div>
		</div>
		<br>
		<div class="row navbar navbar-default" >
			<div>
				<br><br>
				<div style="margin:auto;width:80%" data-ng-repeat="x in GetQuestionsResult">	
					<div class="panel panel-default" data-ng-init="falseShow(x)">
						<div class="row">
							<div class="col-sm-12">				
								<h4> Question by {{x.nickName}}</h4>
							</div>
						</div>
						<div class="row">	
								<div class="col-sm-1">
									<div class="btn-group-vertical"  role="group" aria-label="..." style="margin-left:15%;">
										<button type="button" class="btn btn-default" aria-label="Right Align" data-ng-click="voteUp(x)">
										<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> {{up}}</span></button>
										<button type="button" class="btn btn-default" aria-label="Right Align" >{{x.questionVote}}</button>
										<button type="button" class="btn btn-default" aria-label="Right Align" data-ng-click="voteDown(x)">
										<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> {{down}}</span></button>
									</div>
								</div>
								<div class="col-sm-11">
									<div class="row-fluid">
										<div class="col-sm-9">
											<label>{{x.questionTxt}}</label>
										</div>
									</div>
									<div class="row-fluid">
										<div class="col-xs-8 form-inline">       
							                <textarea class="form-control" style="width:80%" placeholder="So what is your answer Smartass"></textarea>
							                <button type="submit" class="btn">Send</button>            
									    </div>
									    <div class="col-xs-4">
									    	<label>Topics:</label>
									    	<div data-ng-repeat="t in x.questionTopics" style="display:inline;">
									    		<label class="label label-default">{{t}}</label>
									    	</div>
									    </div>
									</div>
									<div class ="row-fluid">
										<div class="col-xs-8"> 
										<br>
											<div class="panel panel-default" style="width:100%;">
												<div class="panel-heading">submitted by {{x.firstAnswer.nickName}} on {{timeFormat(x)}}</div>
												<div class="panel-defult">
													<label>   {{x.firstAnswer.answerTxt}}</label>
												</div>
										</div>
										<div class="col-xs-4"> 
											<button type="submit" class="btn btn-warning" data-ng-model="x.showAns" data-ng-click="GetQuestionsAns(x)">Show more answers</button>
											<div data-ng-repeat="t in x.GetAnswerResults" style="display:inline;" data-ng-show="x.showAns">
								  				<label class="label label-default">{{t}}</label>
											</div>
										</div>
								  </div>
									
								</div>
						<div class ="row-fluid">
						
						</div>
						</div> <!--  end of  second row(question +answer text )-->
						<br>
						
					</div>
				</div>
				<br><br>
			</div>
		</div><!-- End of questions display -->
		<div>
			<nav>
	  			<ul class="pager">
	   			 <li ><button  data-ng-disabled="PreviousButtonFlag" data-ng-click="previousClick()" class = "btn btn-info"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button></li>
	   			 <li ><button data-ng-disabled="NextButtonFlag" data-ng-click="nextClick()" class = "btn btn-info"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button></li>	
	  			<li>Page {{prevOrNextPageNumCounter+1}} of {{NumOfPages+1}}</li>
	  			</ul>
			</nav>
		</div>
	</div>
	</div>
	</div>
		<!-- <div >
		<div class="panel panel-default">
			<p> dfgfh </p>
		</div>
		<div>
			<button type="button" class="btn btn-default " style="width:30%" data-ng-click="switchAnswerShowFlag()" value="showAnswer">showAnswer</button>
			<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default" aria-label="Right Align" >
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> {{up}}</span></button>
			<button type="button" class="btn btn-default" aria-label="Right Align" >
			<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> {{down}}</span></button>
			</div>
		
    	
		</div>
		
		<div class="panel panel-default" data-ng-show="AnswerShowFlag">
			<p> dfgfh </p>
			<div class="btn-group" role="group" aria-label="..." style="float:right">
				<button type="button" class="btn btn-default" aria-label="Right Align" >
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> {{up}}</span></button>
				<button type="button" class="btn btn-default" aria-label="Right Align" >
				<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> {{down}}</span></button>
			</div>
		</div>
		
		</div>
		</div> 

	 -->
</body>
</html>