.mainNavBar{
	margin:auto;
	width:85%;
}
.QButGroup{
	margin-left:15%;
}

.ansArea{
	width:80%;
	resize:none;
}

.toicDisp{
	display:inline;
}
.firstAnsVote{
	margin-right:90%;
}
.showAnsButton{
	margin-left:11.8%;
}
.answersVote{
	margin-left:80%;
}
.answerInfo{
	display:inline;
}